mixin nav-item({label, icon, path, submenu})
	- const id = 'menu-' + (Math.random()*Date.now()).toFixed(0)
	li.nav-item
		a.nav-link.ps-0.pe-2.d-inline-block(
			href=path 
			class={'text-warning': currentPath.startsWith(path)}
			style={color: 'inherit'}
		)
			i.bi.fs-4(class=icon)
			span.ms-1.d-none.d-sm-inline #{label}
		if submenu
			a.bi.bi-chevron-down.fs-4.text-white(
				data-bs-toggle='collapse' 
				href='#'+id
				style={'font-size': '1rem !important'}
			)
			ul.collapse.nav.flex-column.ms-1.flex-nowrap(
				data-bs-parent='#menu' 
				id=id
				class= {'show': currentPath.startsWith(path)}
			)
				each item in submenu
					li.nav-item
						a.nav-link.pe-2(
							href=item.path
							class={'text-warning': currentPath == item.path}
							style={
								color: 'inherit',
							}
						)
							i.bi(class=item.icon)
							span.ms-1 #{item.label}
